@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

#screen {
    /* para trabalhar com overlays */
    position: relative;

    width: 100vw;
    height: 100vh;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items:flex-start;
}

#scanLines,
#bezel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    /* isso evita que o background seja arrastado ao usar o mouse */
    pointer-events: none;
}

#scanLines {
    opacity: 60%;
}

#content {
    position: relative;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "VT323", monospace;
    font-weight: normal;
    font-size: 40px;
    font-style: normal;
    color: rgb(201, 241, 23);
    text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124), 0 0 0.2em rgb(150, 167, 124);
}

p {
    font-size: 35px;
}

#inputArea {

    display: flex;
    flex-direction: row;
    gap: 20%;

    max-width: 1000px;

    margin-left: 15%;
}

#textArea,
#resultArea {

    flex: 1;
    max-width: 30%;

    margin-top: 1em;

    width: 25%;
    height: 40vh;

    font-size: 30px;
    font-family: "VT323", monospace;
    padding-left: 5px;

    resize: none;
    color: rgb(201, 241, 23);
    background-color: green;
    border: dotted;

    text-transform: lowercase;
}

#textArea::placeholder {
    color: rgb(111, 170, 23);
}

#buttonArea {
    margin-top: 20px;
    margin-left: -10%;
    display: flex;
    flex-direction: row;
    gap: 15%;

    align-items: center;
    align-self: center;
}

.button {

    padding: 0.5em;

    color: greenyellow;
    background-color: rgb(18, 51, 18);
    border: none;
    font-family: "VT323";
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;

}

#resultArea {

    flex: 1;
    max-width: 30%;

    width: 60vw;
    height: 40vh;

    font-size: 30px;
    resize: none;
    color: rgb(201, 241, 23);
    background-color: green;
    border: dotted;
    font-family: "VT323";
}

#resultArea::placeholder {
    color: rgb(111, 170, 23);
}

#resultadoParagraph {

    margin-top: -30%;
    margin-left: 62%;
}


.noselect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}